APP_NAME="Supply Chain Risk Intelligence"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=supply_chain_risk
DB_USERNAME=root
DB_PASSWORD=

GNEWS_API_KEY=6fd2df54631a250e4caa6e8b3a3548d6