APP_NAME="Supply Chain Risk Intelligence"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://supply-chain-risk.onrender.com

DB_CONNECTION=sqlite
DB_DATABASE=/var/www/html/database/database.sqlite

SESSION_DRIVER=file
CACHE_DRIVER=file
QUEUE_CONNECTION=sync

GNEWS_API_KEY=6fd2df54631a250e4caa6e8b3a3548d6